<!doctype html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello From Flask</title>
  </head>
  <body>
    <h1>Pig Latin Translation</h1>
    <div>
      <label>Put text to translate to Pig Latin Translation:</label>
      <input type="text" name="translate" id="translate">

      <input type="button" name="send" id="send" value="Send">
    </div>
    <div>
      translated: <em id="result"></em>
    </div>
    <script src="../static/frontend.js"></script>
  </body>
</html>
